.neon-button-container {
    @apply flex justify-center mb-8;
}

.neon-button {
    @apply text-black font-bold text-sm bg-[#ffffff] border-2 border-[#000000] rounded-md text-center px-10 py-2 transition duration-300 ;
    box-shadow: 0 0 15px #b69b81;
}

.neon-button:hover {
    box-shadow: 0 0 30px #b69b81;
    color: #b69b81;
}
